body{
    text-align: center;
}
#logo{
    width:800px;
    height:563px;
}
img{
    width:350px;
}
#mycarousel{
    background-color: crimson
}
.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}